.bar {
  display: none !important;
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-heading);
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--color-text);
}

.subtitle {
  font-size: 0.75rem;
  color: var(--color-muted);
}
